<script>function deleteWishListItem(order_id){
    $.ajax({
        url: '/wishList/' + order_id,
        type: 'DELETE',
        success: function(result){
          window.location.reload(true);
        }
    })
};</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<nav class="navbar fixed-top navbar-expand navbar-light bg-light">
  <!--<a class="navbar-brand" href="#"><img src="../../public/images/logo.jpg" class="banner-logo"></a>-->
  <a class="navbar-brand" href="/"><img src="{{navbarLogo}}" class="banner-logo"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="logged-in-message" class="nav-item">
        (Logged in as {{user.username}})
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" data-toggle="tooltip" data-placement="top" title="Home">
          <i class="fas fa-user navbar-button"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" data-toggle="tooltip" data-placement="top" title="Settings">
          <i class="fas fa-cog navbar-button"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" data-toggle="tooltip" data-placement="top" title="Logout">
          <i class="fas fa-door-closed navbar-button"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main-logo-outer-container">
  <div class="main-logo-inner-container">
    <!--<img src="../../public/images/logo-medium.jpg" class="main-logo"><span id="save-text">$ave</span>-->
    <img src="{{mainLogo}}" class="main-logo"><span id="save-text">$ave</span>
  </div>
</div>

<div class="listContainer">

<h1 align="center">{{user.first_name}}'s Wish List </h1><br />
  <table id="wishlist">
      <thead>
          <th>Product</th>
          <th>Quantity</th>
          <th>Promotions</th>
          <th>Retailer</th>
          <th>Final Price</th>
          <th>Created On</th>
          <th></th>
      </thead>
      <tbody>
          {{#each list}}
          <tr class="order_header">
            <td colspan="7">
              Order #{{row_number}} {{#if name}} - {{name}} {{/if}}
            </td>
          </tr>
            {{#each products}}
              <tr class="order_details">
                  <td>{{name}}</td>
                  <td class="quantity">{{qt}}</td>
                  {{#if ../promotions}}
                    {{#if @first}}<td rowspan={{../../../num_prods}}>
                      {{#each ../../../promotions as |promotion|}}
                        {{promotion}}<br><br>
                      {{/each}}
                    </td>
                    {{/if}}
                  {{else}}
                  <td>None Available</td>
                  {{/if}}
                  {{#if @first}}<td rowspan={{../../num_prods}}>{{../../retailer}}</td>{{/if}}
                  {{#if @first}}<td class="price" rowspan={{../../num_prods}}>{{../../current_price}}</td>{{/if}}
                  {{#if @first}}<td rowspan={{../../num_prods}}>{{../../created_on}}</td>{{/if}}
                  {{#if @first}}
                    <td rowspan={{../../num_prods}}>
                      <button onclick="deleteWishListItem({{../../order_id}})" id="deletebtn">
                        <i class='fas fa-minus-circle' style='font-size:18px;color:red'></i>
                      </button>
                    </td>
                  {{/if}}
                </tr>
            {{/each}}
          {{/each}}
      </tbody>
  </table>


</div>

<div id="button-container" align="center">
<i class="fab fa-facebook social-button"></i>
<i class="fab fa-twitter-square social-button"></i>
<i class="fas fa-envelope social-button"></i>
</div>

<!-- References
 * https://stackoverflow.com/questions/44849073/handlebars-first-first
-->
