<h1>{{title}}</h1>
<table>
	<thead>
		<th>Retailer</th>
		<th>Product</th>
		<th>Retailer_Description</th>
	</thead>
	<tbody>
		{{#each user}}
		<tr>
			<td>{{retailer}}</td>
			<td>{{product}}</td>
			<td>{{retailer_description}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<form action="/dev1" method="get">
	<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
</form>
{{#each jsscriptsTableView}}
	<script src="{{this}}"></script>
{{/each}}