<head>
  <link rel="stylesheet" type="text/css" href="profilePageStyle.css" type="text/css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="{{navbarLogo}}" class="banner-logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li id="logged-in-message" class="nav-item">
          (Logged in as {{userdata.username}})
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" data-toggle="tooltip" data-placement="top" title="Home">
            <i class="fas fa-user navbar-button"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Settings">
            <i class="fas fa-cog navbar-button"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" data-toggle="tooltip" data-placement="top" title="Logout">
            <i class="fas fa-door-closed navbar-button"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>


    <div class="main-logo-outer-container">
        <div class="main-logo-inner-container">
            <img src="images/logo-medium.jpg" class="main-logo"><span id="save-text">$ave</span>
        </div>
    </div>
    <br />
    <div id=profile-wrapper>
        <br />
        <div class="container">
          <!--<form class="" name = "form" method="post" action="/profile" enctype="x-www-form-urlencoded">
            <fieldset>
              <input type="text" id="username_input" name="username" value='{{userdata.username}}'> </input>
              <input type="text" id="firstname_input" name="firstname" value='{{userdata.first_name}}'> </input>
              <input type="text" id="lastname_input" name="lastname" value='{{userdata.last_name}}'> </input>
              <input type="text" id="email_input" name="email" value='{{userdata.email}}'> </input>
              <input type='submit' id = "saveBtn" name='saveBtn' value='save'> </input>
              </fieldset>
          </form>-->
      <form name="profile_form" action="/profile" method="post">
      <fieldset>
          <legend>PROFILE</legend>
            <label>Username:
              <input type="text" id='username_input' name="username" value='{{user.username}}'/> </label><br><br>
            <label>First Name:
              <input type="text" id='firstname_input' name="firstname" value='{{user.first_name}}'/> </label><br><br>
            <label>Last Name:
              <input type="text" id = 'lastname_input'name="lastname" value='{{user.last_name}}'/> </label> <br><br>
           <label>Email:
                <input type="text" id = 'email_input' name="email" value='{{user.email}}'/> </label> <br><br>
          <input type="submit" id= 'saveBtn' name="saveBtn" value="Save" style="display:none;"/>
      </fieldset>
  </form>
          <input type ='submit' id = "editBtn" name='editBtn' value='Edit'> </input>
        </div>
        <div class="container" style="background-color:purple">
        </div>
    </div>
    <script src='profile.js'></script>
</body>
