<h1>{{title}}</h1>
<table>
	<thead>
		<th>ID</th>
		<th>Username</th>
		<th>Password</th>
		<th>Email</th>
		<th>Shipping_Address</th>
		<th>Billing_Address</th>
		<th>Recommendations</th>
		<th>Price_Drop_Email</th>
		<th>Message_Email</th>
	</thead>
	<tbody>
		{{#each users}}
		<tr>
			<td>{{id}}</td>
			<td>{{username}}</td>
			<td>{{password}}</td>
			<td>{{email}}</td>
			<td>{{shipping_address}}</td>
			<td>{{billing_address}}</td>
			<td class="alignCellContentCenter">{{recommendations}}</td>
			<td class="alignCellContentCenter">{{price_drop_email}}</td>
			<td class="alignCellContentCenter">{{message_email}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<form action="/dev1" method="get">
	<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
</form>
{{#each jsscriptsTableView}}
	<script src="{{this}}"></script>
{{/each}}