<h1>{{title}}</h1>
<table>
	<thead>
		<th>ID</th>
		<th>Data</th>
		<th>Recipient</th>
		<th>Sender</th>
		<th>Timestamp</th>
		<th>Message_Thread</th>
	</thead>
	<tbody>
		{{#each message}}
		<tr>
			<td>{{id}}</td>
			<td>{{data}}</td>
			<td>{{recipient}}</td>
			<td>{{sender}}</td>
			<td>{{timestamp}}</td>
			<td>{{message_thread}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<form action="/dev1" method="get">
	<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
</form>
{{#each jsscriptsTableView}}
	<script src="{{this}}"></script>
{{/each}}