<div>
	<h1>{{title}}</h1>
	<table>
		<thead>
			<th>ID</th>
			<th>Name</th>
			<th>Web_Address</th>
			<th>Mailing_Address</th>
			<th>Shipping_Price</th>
		</thead>
		<tbody>
			{{#each retailer}}
			<tr>
				<td>{{id}}</td>
				<td>{{name}}</td>
				<td>{{web_address}}</td>
				<td>{{mailing_address}}</td>
				<td>{{shipping_price}}</td>
				<td class="deleteButton"><button onclick="deleteRow({{id}}, 'retailer')">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<form action="/dev1" method="get">
		<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
	</form>
	{{#each jsscriptsTableView}}
		<script src="{{this}}"></script>
	{{/each}}
</div>
