<div>
	<h1>{{title}}</h1>
	<table>
		<thead>
			<th>ID</th>
			<th>User</th>
			<th>Retailer</th>
			<th>Current_Price</th>
			<th>Last_Updated</th>
			<th>Created_On</th>
			<th>Name</th>
		</thead>
		<tbody>
			{{#each order}}
			<tr>
				<td>{{id}}</td>
				<td>{{user}}</td>
				<td>{{retailer}}</td>
				<td>{{current_price}}</td>
				<td>{{last_updated}}</td>
				<td>{{created_on}}</td>
				<td>{{name}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<form action="/dev1" method="get">
		<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
	</form>
	{{#each jsscriptsTableView}}
		<script src="{{this}}"></script>
	{{/each}}
</div>
