<h1>{{title}}</h1>
<table>
	<thead>
		<th>User</th>
		<th>Retailer</th>
		<th>Rating</th>
	</thead>
	<tbody>
		{{#each retailer_rating}}
		<tr>
			<td>{{user}}</td>
			<td>{{retailer}}</td>
			<td>{{rating}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<form action="/dev1" method="get">
	<button class="homePage" type="submit" value="Home Page" name="Home Page">Home Page</button>
</form>
{{#each jsscriptsTableView}}
	<script src="{{this}}"></script>
{{/each}}